<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<configSections>
		<section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	
	<system.diagnostics>
		<trace>
			<listeners>
				<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
					<filter type="" />
				</add>
			</listeners>
		</trace>
	</system.diagnostics>

	<appSettings>
		<add key="ContainerSASExperiationTime" value="10" />
		<add key="BlobSASExperiationTime" value="10" />
	</appSettings>

	<system.web>

		<authentication mode="None" />

		<authorization>
			<allow users="?" />
		</authorization>
		
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<customErrors mode="On" defaultRedirect="Error" />

		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>

		<machineKey decryption="AES" decryptionKey="0CA3EFAF0F7A5E7A62681C0BF656EE0ECE31ACEE3E1023BA3FAD20EA5F199DE8" validation="SHA1" validationKey="865F235AEDB0F0E6559D219591E37B3DBA985FB49DE62168764FF0DCE537184F0535D5D9AD66DEDC97DC1ABFF7FA540B4DFD82E5BB196B95D15FF81F75AD5328" />

		<httpHandlers>
			<add verb="*" path="AzureTablesProxy.axd" validate="false" type="Ringify.Web.Handlers.AzureTablesProxyHandler, Ringify.Web" />
			<add verb="*" path="AzureQueuesProxy.axd" validate="false" type="Ringify.Web.Handlers.AzureQueuesProxyHandler, Ringify.Web" />
		</httpHandlers>

		<membership defaultProvider="TableStorageMembershipProvider" userIsOnlineTimeWindow="20">
			<providers>
				<clear />
				<add name="TableStorageMembershipProvider"
						type="Microsoft.Samples.ServiceHosting.AspProviders.TableStorageMembershipProvider"
						description="Membership provider using table storage"
						applicationName="WindowsPhoneCloud"
						enablePasswordRetrieval="false"
						enablePasswordReset="true"
						requiresQuestionAndAnswer="false"
						minRequiredPasswordLength="6"
						minRequiredNonalphanumericCharacters="0"
						requiresUniqueEmail="true"
						passwordFormat="Hashed" />
			</providers>
		</membership>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<modules runAllManagedModulesForAllRequests="true">
			<add name="ProtectedResourceModule" type="Microsoft.Samples.DPE.OAuth.ProtectedResource.ProtectedResourceModule" />
			<add name="ClaimsAuthorizationModule" type="Microsoft.IdentityModel.Web.ClaimsAuthorizationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
			<add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
		</modules>

		<staticContent>
			<remove fileExtension=".cer" />
			<mimeMap fileExtension=".cer" mimeType="application/x-x509-ca-cert" />
		</staticContent>

		<handlers>
			<remove name="SecurityCertificate" />
			<add name="AzureTablesProxy" preCondition="integratedMode" verb="*" path="AzureTablesProxy.axd" type="Ringify.Web.Handlers.AzureTablesProxyHandler, Ringify.Web" />
			<add name="AzureQueuesProxy" preCondition="integratedMode" verb="*" path="AzureQueuesProxy.axd" type="Ringify.Web.Handlers.AzureQueuesProxyHandler, Ringify.Web" />
		</handlers>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>


	<location path="RegistrationService">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
			<customErrors mode="Off" />
		</system.web>
	</location>

	<location path="SharedAccessSignatureService">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
			<customErrors mode="Off" />
		</system.web>
	</location>

	<location path="PushNotificationService">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
			<customErrors mode="Off" />
		</system.web>
	</location>

	<location path="AzureTablesProxy.axd">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
			<customErrors mode="Off" />
		</system.web>
	</location>

	<location path="AzureQueuesProxy.axd">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
			<customErrors mode="Off" />
		</system.web>
	</location>

	<microsoft.identityModel>
		<service name="OAuth">
			<audienceUris>
				<add value="" />
			</audienceUris>
			<securityTokenHandlers>
				<add type="Microsoft.Samples.DPE.OAuth.Tokens.SimpleWebTokenHandler, Microsoft.Samples.DPE.OAuth" />
			</securityTokenHandlers>
			<issuerTokenResolver type="Microsoft.Samples.DPE.OAuth.ProtectedResource.ConfigurationBasedIssuerTokenResolver, Microsoft.Samples.DPE.OAuth">
				<serviceKeys>
					<add serviceName="" serviceKey="" />
				</serviceKeys>
			</issuerTokenResolver>
			<issuerNameRegistry type="Microsoft.Samples.DPE.OAuth.ProtectedResource.SimpleWebTokenTrustedIssuersRegistry, Microsoft.Samples.DPE.OAuth">
				<trustedIssuers>
					<add issuerIdentifier="" name="" />
				</trustedIssuers>
			</issuerNameRegistry>
			<claimsAuthorizationManager type="Ringify.Web.Infrastructure.UserPrivilegesAuthorizationManager, Ringify.Web" />
		</service>
	</microsoft.identityModel>

</configuration>

